# compiled output
/out
/target

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml
eclipse-launch-profiles
/logs

#System Files
*~
.DS_Store
Thumbs.db


wannabe-dev-8a07e-firebase-adminsdk-zleup-83b2695ebf.json
.env
