<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannabe.app.main.mapper.EventHistoryMapper">
    <insert id="insertEventHistory" parameterType="com.wannabe.app.main.data.entity.EventHistory">
        INSERT INTO t_event_history (event_id, before_event_id)
        VALUES (#{eventId}, #{beforeEventId});
    </insert>
</mapper>